[core]
        excludesfile = /Users/matthieu/.gitignore_global
        editor = atom --wait
        autocrlf = input
[alias]
        mg = merge
        br = branch
        ci = commit
        st = status
        rb = rebase
        co = checkout
        llog = log -1
        cr = cherry-pick
        ca = !git add -A . && git commit
[push]
        default = simple
[user]
        name = malas
        email = xxxxxxxxxxxx
[color]
        ui = true
[gui]
        encoding = utf-8
[log]
        date=short
[format]
        pretty = %C(green)%ad %C(yellow)%an %C(red)%h\n\t%Creset%s
[diff]
        tool = meld
