"*":
  "atom-beautify":
    apex:
      disabled: true
    arduino:
      disabled: true
    c:
      disabled: true
    cfml:
      disabled: true
    coffeescript:
      disabled: true
    cpp:
      disabled: true
    cs:
      disabled: true
    css:
      align_assignments: true
      convert_quotes: "single"
      no_lead_zero: true
    csv:
      disabled: true
    d:
      disabled: true
    ejs:
      disabled: true
    elm:
      disabled: true
    erb:
      disabled: true
    erlang:
      disabled: true
    fortran:
      disabled: true
    general:
      _analyticsUserId: ""
    gherkin:
      disabled: true
    go:
      disabled: true
    handlebars:
      disabled: true
    haskell:
      disabled: true
    html:
      indent_inner_html: true
      max_preserve_newlines: 3
      wrap_attributes: "force"
      wrap_line_length: 80
    jade:
      disabled: true
    java:
      disabled: true
    js:
      break_chained_methods: true
      end_with_newline: true
      jslint_happy: true
      keep_array_indentation: true
      keep_function_indentation: true
      space_after_anon_function: true
    json:
      end_with_newline: true
      indent_size: 2
      jslint_happy: true
      keep_array_indentation: true
      keep_function_indentation: true
      max_preserve_newlines: 1
      space_after_anon_function: true
      wrap_line_length: 80
    jsx:
      space_after_anon_function: true
      wrap_line_length: 80
    latex:
      disabled: true
    less: {}
    marko:
      disabled: true
    mustache:
      disabled: true
    objectivec:
      disabled: true
    pawn:
      disabled: true
    perl:
      disabled: true
    php:
      disabled: true
    puppet:
      disabled: true
    python:
      disabled: true
    riot:
      disabled: true
    ruby:
      disabled: true
    rust:
      disabled: true
    sass: {}
    scss: {}
    spacebars:
      disabled: true
    sql:
      disabled: true
    svg:
      disabled: true
    swig:
      disabled: true
    tss:
      disabled: true
    twig:
      disabled: true
    typescript:
      disabled: true
    vala:
      disabled: true
    visualforce:
      disabled: true
    xml: {}
    xtemplate:
      disabled: true
  "atom-jshint": {}
  core:
    openEmptyEditorOnStart: false
    projectHome: "/Users/matthieu/www"
  editor:
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: ""
  "git-diff":
    showIconsInEditorGutter: true
  "imdone-atom":
    openIn: {}
  jshint:
    onlyConfig: true
    validateOnlyOnSave: true
  linter:
    alwaysTakeMinimumSpace: false
    displayLinterInfo: false
    displayLinterStatus: false
    errorPanelHeight: 126
    gutterEnabled: false
    gutterPosition: "Left"
    showErrorInline: false
    showErrorTabFile: false
    showErrorTabProject: false
  "linter-eslint": {}
  "linter-jshint":
    lintJSXFiles: true
  "linter-sass-lint": {}
  "linter-scss-lint":
    disableWhenNoConfigFileInPath: true
  "markdown-pdf": {}
  "merge-conflicts": {}
  minimap:
    absoluteMode: true
  react: {}
  welcome:
    showOnStartup: false
".coffee.jsx.source":
  editor:
    autoIndentOnPaste: true
    softWrapAtPreferredLineLength: false
".ini.source":
  editor:
    preferredLineLength: 100
".js.jsx.source":
  editor:
    softWrapAtPreferredLineLength: false
