#!/usr/bin/env bash

# --------------------------------
#
# Aliases
# https://github.com/mathiasbynens/dotfiles/blob/master/.aliases
#

#
# Detect which `ls` flavor is in use
#
if ls --color > /dev/null 2>&1; then # GNU `ls`
	colorflag="--color"
	export LS_COLORS='no=00:fi=00:di=01;31:ln=01;36:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arj=01;31:*.taz=01;31:*.lzh=01;31:*.zip=01;31:*.z=01;31:*.Z=01;31:*.gz=01;31:*.bz2=01;31:*.deb=01;31:*.rpm=01;31:*.jar=01;31:*.jpg=01;35:*.jpeg=01;35:*.gif=01;35:*.bmp=01;35:*.pbm=01;35:*.pgm=01;35:*.ppm=01;35:*.tga=01;35:*.xbm=01;35:*.xpm=01;35:*.tif=01;35:*.tiff=01;35:*.png=01;35:*.mov=01;35:*.mpg=01;35:*.mpeg=01;35:*.avi=01;35:*.fli=01;35:*.gl=01;35:*.dl=01;35:*.xcf=01;35:*.xwd=01;35:*.ogg=01;35:*.mp3=01;35:*.wav=01;35:'
else # macOS `ls`
	colorflag="-G"
	export LSCOLORS='BxBxhxDxfxhxhxhxhxcxcx'
fi

#
# Use Git’s colored diff when available
#
hash git &>/dev/null;
if [ $? -eq 0 ]; then
    function diff() {
        git diff --no-index --color-words "$@";
    }
fi;

# ----------------------------------------------------
#
# Listing
#
# ----------------------------------------------------

#
# Remove with confirmation
#
alias rm="rm -i"

# Show Disc Usage informations
#
#
alias lds="df -h"

#
# Always use color output for `ls`
#
alias ls="command ls ${colorflag}"

#
# List all files and hidden files
#
alias ll='ls -laF ${colorflag}'

#
# Table all files and hidden files
#
alias lw='ls -AF ${colorflag}'

#
# List all files in a tree
#
alias ltree='tree -a -L 1'

#
# List only directories
#
alias dir="ls -lF ${colorflag} | grep --color=never '^d'"

# ----------------------------------------------------
#
# Grep
#
# ----------------------------------------------------

# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# ----------------------------------------------------
#
# IP & Network
#
# ----------------------------------------------------

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

#
# View HTTP traffic
#
alias httpdump="sudo tcpdump -A -s0 -ien0 port 80"
# alias sniff="sudo ngrep -d 'en1' -t '^(GET|POST) ' 'tcp and port 80'"
# alias httpdump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""

# ----------------------------------------------------
#
# OS
#
# ----------------------------------------------------

#
# Recursively delete `.DS_Store` files
#
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

#
# Show/hide hidden files in Finder
#
alias showdot='defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder'
alias hidedot='defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder'

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

#
# Reload the shell (i.e. invoke as a login shell)
#
alias reload="exec $SHELL -l"

#
# Move files/folder with interactive mode to default
#
alias move="mv -i"

#
# Lock screen while away
#
alias afk='/System/Library/CoreServices/"Menu Extras"/User.menu/Contents/Resources/CGSession -suspend'

#
# Print each PATH entry on a separate line
#
alias path='echo -e ${PATH//:/\\n}'

#
# OS X has no `md5sum`, so use `md5` as a fallback
#
command -v md5sum > /dev/null || alias md5sum="md5"

#
# OS X has no `sha1sum`, so use `shasum` as a fallback
#
command -v sha1sum > /dev/null || alias sha1sum="shasum"

#
# Hide/show all desktop icons (useful when presenting)
#
alias hidedesktop='defaults write com.apple.finder CreateDesktop -bool false && killall Finder'
alias showdesktop='defaults write com.apple.finder CreateDesktop -bool true && killall Finder'

#
# Get week number
#
alias week='date +%V'

alias killnode='killall node'

[ -n "$PS1" ] && source ~/.aliases_ssh;
[ -n "$PS1" ] && source ~/.aliases_docker;
