[alias]
  st = status
  br = branch -v
  ci = commit
  co = checkout
  aadd = add -p
  url = remote -v
  rbi = rebase -i
  cr = cherry-pick
  mg = merge --no-ff
  plr = pull --rebase
  cclean = clean -i -d
  sstash = stash save -u
  ppush = push --force-with-lease
  amend = commit --amend
  aamend = commit --amend --no-edit
  undo = checkout --
  rewind = reset HEAD~1
  unstage = reset HEAD --
  rerewind = reset HEAD@{1}
  llog = log -1
  sshow = show --name-status --decorate
  tree = log --decorate --graph
  infos = remote show origin
  whoami = config --get user.name
  desc = branch --edit-description
[color]
  ui = true
  status = true
[core]
  encoding = utf8
  autocrlf = input
  editor = subl -w
  whitespace = -trailing-space
  excludesfile = /Users/<user>/.gitignore
[diff]
  mnemonicPrefix = true
[format]
  pretty = %C(green)%ad %an %C(yellow)%h\n%Creset%B
[gui]
  encoding = utf-8
[log]
  date = format:%a %v %T
[pull]
  rebase = preserve
[push]
  default = simple
  follwTags = true
[tag]
  sort = version:refname
[user]
  name = <git_username>
  email = <git_user_email>
