"*":
  core:
    disabledPackages: [
      "whitespace"
    ]
    projectHome: "/Users/matthieu/www"
  editor:
    fontFamily: "Fira Code"
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    softWrapHangingIndent: 80
  "linter-ui-default":
    showPanel: true
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
  welcome:
    showOnStartup: false
