"*":
  editor:
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    softWrapHangingIndent: 100
  linter:
    showErrorPanel: false
    showErrorTabProject: false
    statusIconScope: "File"
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
