[Desktop Entry]
Encoding=UTF-8
Name=Tilix
Comment=Launch Tilix
Exec=tilix --session ~/.config/.tilix.session.json
Icon=org.gnome.Terminal
Type=Application
