"*":
  core:
    disabledPackages: [
      "whitespace"
    ]
  editor:
    fontFamily: "Fira Code"
    preferredLineLength: 100
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  "linter-ui-default":
    panelHeight: 160
    showPanel: true
    showTooltip: false
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
  welcome:
    showOnStartup: false
